footer{
    background-color: var(--az1);
    padding: 2rem 0px;
    background-image: url('../img/fondo-footer.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    @media screen and (min-width:$breakpoint-md){
        padding: 2rem 0px;
    }

    h3{
        color: var(--wht);
        font-size: 1.2rem;
        @media screen and (min-width:$breakpoint-md){
            color: var(--wht);
            font-size: 1.5rem;
        }
    }
    
    .lista--footer{
        margin-left: 0px;
        padding-left: 0px;
    }
    .lista--footer li{ 
        list-style: none;
        margin: 0.2rem 0px;
        a{
            color: var(--wht);
            font-size: 0.8rem;
            @media screen and (min-width:$breakpoint-md){
                font-size: 0.9rem;
            }
        }
    }
}