$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1290px;
$breakpoint-xs: 320px;
$breakpoint-xlg: 1700px;
:root{
    --az1: #283766;
    --az2:#4D72B7;
    --mor: #8B2B7F;
    --blk1: #212529;
    --gr1: #CED4DA;
    --wht:#fff;
    --fondo-b: rgba(77, 114, 183, 0.1);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html, body{
    scroll-behavior: smooth;
    animation: fadeIn .4s;
    -webkit-animation: fadeIn .4s;
    -moz-animation: fadeIn .4s;
    -o-animation: fadeIn .4s;
    -ms-animation: fadeIn .4s;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--az1);
}
.fondo-b{
    background: var(--fondo-b);
}
.active{
    background-color: var(--az2) !important;
}
.block--div{
    padding: 2rem 0px;
    @media screen and (min-width:$breakpoint-md){
        padding: 5rem 0px;
    }
}
.block--div__incorporate{
    padding: 2rem 0px 4rem 0px;
    @media screen and (min-width:$breakpoint-md){
        padding: 0rem 0px  4rem 0px;
    }
}
.block--div__beneficios{
    padding: 2rem 0px;
    @media screen and (min-width:$breakpoint-md){
        padding: 4rem 0px 1rem 0px;
    }
}
.card--sombra{
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
}
.box--card{
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0px;
    @media screen and (min-width:$breakpoint-md){
        min-height: 340px;
    }
    h3{
        color: var(--az2);
    }
}
.box--card--xs{
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0px;
    @media screen and (min-width:$breakpoint-md){
         min-height: 130px;
    }
    h3{
        color: var(--az2);
    }
}
.img--border{
    border-radius: 40px;
}
.clearfix{
    height: 2rem;
}
.btn-link{
    padding: 0.7rem 3rem;
    color:var(--wht);
    border: solid 1px var(--mor);
    font-weight: 400;
    background:var(--mor);
    border-radius: 29px;
    transition: all .4s;
    font-size: 0.9rem;
    margin:1rem 0px;
    &:hover{
        border: solid 1px var(--mor);
        color: var(--mor);
        background:var(--wht);
        text-decoration: none;
    }
}
@media screen and (min-width:$breakpoint-md){
    .card--sombra-md{
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
        border-radius: 29px;
    }
}

.block--titulo{
    background-image: url('../img/flecha--titulos.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 2.5rem 0px 2.5rem 1.5rem;
    @media screen and (min-width:$breakpoint-sm){
        padding: 3rem 0px 3rem 4rem;
    }
    @media screen and (min-width:$breakpoint-md){
        padding: 2rem 0px 2rem 5rem;
    }
    h1{
        font-weight: 600;
        text-align: left;
        color: var(--az1);
        font-size: 2rem;
        @media screen and (min-width:$breakpoint-sm){
            font-size: 2.5rem;
        }
        @media screen and (min-width:$breakpoint-md){
            font-size: 2.5rem;
        }
    }
    h1.titulo--largo{
        font-weight: 600;
        text-align: left;
        color: var(--az1);
        font-size: 1.7rem;
        @media screen and (min-width:$breakpoint-sm){
            font-size: 2.5rem;
        }
        @media screen and (min-width:$breakpoint-md){
            font-size: 2.5rem;
        }
    }
    .ico--titulo{
        max-width: 4rem;
        @media screen and (min-width:$breakpoint-sm){
            max-width: 4rem;
            margin-left: 1rem;
        }
        @media screen and (min-width:$breakpoint-md){
            max-width: 4rem;
            margin-left: 1rem;
        }
    }
}
.contenido{
    padding: 2rem 0px 4rem 0px;
    h2{
        color:var(--az2);
        font-size: 1.7rem;
    }
    h2.sub--titulo__xl{
        color:var(--az2);
        font-size: 2.1rem;
    }
    p{
        color: var(--az1);
        font-weight: 400;
        font-size: 1rem;
        text-align: justify;
        line-height: 2rem;
        padding: 1rem 0px;
        @media screen and (min-width:$breakpoint-md){
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    ul li p{
        padding: 0rem 0px;
    }
    .img--content{
        @media screen and (min-width:$breakpoint-md){
            margin-top: 9rem;
        }
    }
}
.card--incorporate{
    padding: 2rem;
    background-color: var(--wht);
    .num__incorporate{
        max-width: 300px;
        @media screen and (min-width:$breakpoint-md){
            margin: 0rem 1.5rem;
        }
    }
}
.titulo--bx__incorporacion{
    background-image: url('../img/flecha--titulos.png');
    background-size: contain;
    text-align: left;
    background-position:top left;
    background-repeat: no-repeat;
    padding: 2rem 3rem 0rem 0rem;
    h4{
        font-size: 4rem;
        font-weight: 600;
        color: var(--mor);
    }
}
form.formulario{
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
}
label{
    color: var(--blk1) !important;
}
.form-group{
    margin: 0.7rem 0px;
}
.txt--region{
    padding-top: 0px !important;
}
.link{
    color: var(--az1);
    text-decoration: underline;
    &:hover{
        color: var(--mor);
    }
}
.bx--contacto{
    padding: 2rem;
    background: var(--wht);
}
.card--proposito{
    @media screen and (min-width:$breakpoint-md){
        min-height: 260px !important;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}